In [1]:
#To install the pandas in jupytor notebook
#!pip install pandas

#import pandas
import pandas as pd

In [2]:
#to read data from different files.
#read csv --- pd.read_csv("")
jsonf = pd.read_json("Jay.json")
print(jsonf)

#tail(): it is giving me the record from the last 
#last 10 record .tail(10)
#first 5 rows : .head()
#jsonf.tail()

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
print(jsonf)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [8]:
# how to add new data using append

#new_row = {'Duration': 55, 'Pulse': 121, 'Maxpulse': 151, 'Calories': 423}
#new_row = [{'Duration': 55, 'Pulse': 121, 'Maxpulse': 151, 'Calories': 423}]
# jsonf = jsonf.append(new_row, ignore_index=True)
# jsonf.tail()

new_row = {'Duration': [55,], 
           'Pulse': [121,],
           'Maxpulse': [151,],
           'Calories': [423,]
          }

df2 = pd.DataFrame(new_row)

print(df2)


# what are thte other ways to add rows aprt from append()
# if I want to add multiple row at a time how can I do?

   Duration  Pulse  Maxpulse  Calories
0        55    121       151       423

In [9]:
df3 = pd.concat([jsonf, df2], ignore_index = True)
df3.reset_index()

print(df3)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
169        55    121       151     423.0

In [13]:
# to check the datatypes for all the columns
df3.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [14]:
df3.describe()

         Duration       Pulse    Maxpulse     Calories
count  170.000000  170.000000  170.000000   165.000000
mean    63.794118  107.541176  134.147059   376.086061
std     42.180073   14.504480   16.453147   265.589187
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   251.000000
50%     60.000000  105.000000  131.000000   319.200000
75%     60.000000  111.000000  142.500000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  170 non-null    int64
 1   Pulse     170 non-null    int64
 2   Maxpulse  170 non-null    int64
 3   Calories  165 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [16]:
df3.to_json("Jay2.json")

In [ ]:
##

In [17]:
import pandas as pd

d={'Mouse':[150,200,300,400],
   'Keyboard':[180,200,190,300],
   'Scanner':[200,280,330,450]}

df=pd.DataFrame(d,index=['Jan','Feb','March','April'])
df
#df2=pd.DataFrame(d)
#df2

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [20]:
df.loc['Jan']

Mouse       150
Keyboard    180
Scanner     200
Name: Jan, dtype: int64

In [21]:
df.loc[['Jan','April']]

       Mouse  Keyboard  Scanner
Jan      150       180      200
April    400       300      450

In [22]:
df.loc[['Jan','April'],'Mouse']

Jan      150
April    400
Name: Mouse, dtype: int64

In [23]:
df.loc[:,['Mouse','Scanner']]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [ ]:
#A.	Write code to access data of Mouse and Scanner columns.

print(df['Mouse'])
print(df['Scanner'])

df[['Mouse','Scanner']]

In [24]:
df['Mouse']

Jan      150
Feb      200
March    300
April    400
Name: Mouse, dtype: int64

In [25]:
df.Mouse

Jan      150
Feb      200
March    300
April    400
Name: Mouse, dtype: int64

In [ ]:
#B.	Write code to access data of the Keyboard column using dot notation and column name.

df.Mouse
Df.Scanner

In [ ]:
#Access dats for Jan Row

df.loc['Jan']

In [27]:
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [28]:
#C.	Write code to access data of scanners using loc[].

#df.loc[ :, ['Mouse', 'Scanner']]
#To select a particular number of rows and columns, you can do the following using .iloc.
#df.iloc[[0:2],[0:2]]

df.iloc[[0,2], [0,2]]
#To select a single value from the DataFrame, you can do the following.

       Mouse  Scanner
Jan      150      200
March    300      330

In [32]:
df.iloc[0:2] [['Keyboard']]

     Keyboard
Jan       180
Feb       200

In [ ]:
df.loc['Jan','Mouse']

In [33]:
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [36]:
# rows where nMice is less than 250: Only display the value of Mice:
df[df['Mouse']< 250] [['Mouse']]

     Mouse
Jan    150
Feb    200

In [ ]:
#D.	Write code to access data of all columns where mouse data is more than 200.
df[df['Mouse']>200][['Mouse','Scanner']]

In [ ]:
#E.	Write code to access columns using 0 and 2.

df.iloc[:,[0,2]]

In [ ]:
#F.	Write code to access data of rows of jan and march for scanner and keyboard

df.loc[['Jan','March'],['Scanner','Keyboard']]

In [ ]:
df.at['Jan','Mouse']

In [ ]:
df.iat[2,2]

In [38]:
#Add column
df['Monitor']=[200,300,400,500]

In [39]:
df

       Mouse  Keyboard  Scanner  Monitor
Jan      150       180      200      200
Feb      200       200      280      300
March    300       190      330      400
April    400       300      450      500

In [ ]:
# #Add Row
# Other options available to add rows to the dataframe are,

# append()
# concat()
# iloc[]
# loc[]

In [ ]:
df2 = {'Mouse': 200, 'Keyboard': 600, 'Scanner': 300}
df = df.append(df2, ignore_index = True)

df

In [ ]:
data=pd.read_excel('corona.xlsx')

In [ ]:
data.tail()

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
data.describe(include="all")

In [ ]:
data.info
#The info() method prints information about the DataFrame.
#The information contains the number of columns, column labels, column data types, memory usage, range index,
#and the number of cells in each column (non-null values).

In [ ]:
data.to_excel("coronafinal.xlsx")